* {
    box-sizing: border-box;
}

/* 페이지 전체 */
.page-body {
    display: flex;
    flex: 1 1 0%;
    height: 100%;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

/* 페이지 상단 */
.top-body {
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    box-shadow: rgba(113, 113, 113, 0.1) 0px 2px 11px;
}

/* 상단 div */
.top-section {
    display: flex;
    flex: 0.7 1 0%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 15px 0px;
}

/* 상단 좌측 */
.top-section .left-section {
    display: flex;
    flex: 1 1 0%;
}

button {
    cursor: pointer;
}

/* 로고 버튼 */
.top-btn {
    margin-left: 10px;
}
 
/* 선X, 배경 투명 */
input, button {
    background-color: transparent;
    border: none;
    outline: none;
}

/* 상단 우측 */
.top-section .right-section {
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}

/* 검색 */
.search-section {
    display: flex;
    flex: 0.8 1 0%;
    padding: 15px 16px 15px 12px;
    border-radius: 8px;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    background: rgb(238, 245, 252);
}

/* 검색 내부 */
.search-section input, .search-section input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

input {
    width: 100%;
}

.top-section .right-section button {
    cursor: pointer;
}

.top-section .right-section > section {
    margin-left: 24px;
}

/* 로그인 버튼 */
.login-btn {
    padding: 10px 16px;
    background-color: rgb(6, 113, 224);
    border: 1px solid rgb(6, 113, 224);
    border-radius: 24px;
}

.login-btn-text {
    font-size: 16px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
    margin-top: 0px;
}
/* 메인 */
.main-body {
    display: flex;
    width: 70%;
    flex-direction: column;
    min-height: calc(100vh - 200px);
    height: 100%;
}

/* 게시판 바*/
.navibar{
    padding: 0;
    box-shadow: rgba(113, 113, 113, 0.1) 0px 2px 11px;
}
/* 게시판 아이템 */
.navbar-item{
    color: black;
    text-decoration: none;
    width: 33%;
    height: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-item:hover{
    background-color: rgb(236, 239, 243);
}

/* 메인 요소당 여백 */
.main-body-gap {
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    gap: 60px;
}

ol, ul, li {
    list-style: none;
}

/* 카드 정렬 */
.sort-btn, .btn-separator {
    font-size: 15px;
    color: #ababab;
    padding: 3px;
}

/* 카드 아이템 줄당 3개 설정 */
.main-body-gap .cardList {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 48px 30px;
}

/* 게시판 게시물 */
.cardList-item {
    width: 100%;
    height: 340px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(9, 33, 57, 0.1) 0px 3px 11px;
    border-radius: 12px;
    font-family: SUIT;
    font-style: normal;
    overflow: hidden;
    cursor: pointer;
}

/* 썸네일 */
.cardList-item .thumbnail {
    width: 100%;
    height: 192px;
    object-fit: cover;
    background-color: rgb(113, 113, 113);
}

/* 썸네일 하단 칸 전체 */
.cardList-item .contentsContainer {
    position: relative;
    height: 152px;
    padding: 24px;
}

/* 카드 제목 여백 */
.cardList-item .leBox {
    width: 100%;
    line-height: 140%;
    margin-bottom: 12px;
}

/* 카드 제목 */
.card-title-txt {
    font-size: 22px;
    font-weight: 700;
    color: rgb(33, 33, 33);
    margin-bottom: 0px;
    margin-top: 0px;
}

/* 카드 정보칸 */
.cardList-item .infoSection {
    position: absolute;
    left: 24px;
    right: 24px;
    bottom: 24px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

/* 카드 유저정보 */
.cardList-item .userInfo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
}

/* 카드-게시물 추천 */
.cardList-item .likeComment {
    display: flex;
    gap: 13.5px;
}

/* 카드-게시물 댓글 */
.cardList-item .likeIcon, .cardList-item .commentIcon {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 9.5px;
}

/*닉네임,하트수,댓글수 텍스트*/
.info-txt {   
    font-size: 16px;
    font-weight: 400;
    color: rgb(77, 77, 77);
    margin-bottom: 0px;
    margin-top: 0px;
}

/* main.jsp 배너 */
.main-body-gap .banner {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.banner-title {
    font-size: 27px;
    font-weight: 700;
    color: rgb(33, 33, 33);
    margin-bottom: 18px;
    margin-top: 0px;
}

.banner-subtitle {
    font-size: 20px;
    font-weight: 500;
    color: rgb(33, 33, 33);
    margin-bottom: 0px;
    margin-top: 0px;
}

/* main.jsp 배너 업로드 버튼 */
.main-body-gap .uploadButton {
    width: 220px;
    height: 50px;
    background: -moz-linear-gradient(left, #0672E0 0%, #68a3de 100%);
    background: -webkit-linear-gradient(top, #0672E0 0%, #68a3de 100%);
    background: linear-gradient(to right, #0672E0 0%, #68a3de 100%);
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
}

.upload-btn-txt {
    font-size: 18px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
    margin-top: 0px;
}

/* main.jsp 추천 게시물 txt */
.recommend-text{
    font-size: 30px;
    color: rgb(171, 190, 209);
    margin-bottom: 20px;
}

/* 테이블 */
.board-list1 .board-list>table tr th, .new-board .board-list>table tr td {
    padding: 8px 5px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
}

/* myPage.jsp 테이블 비율 조절 */
.size01 {
    width: 5%;
}

.size02 {
    width: 50%;
}

.size03 {
    width: 15%;
}

.size04 {
    width: 15%;
}

/* 게시글 작성 페이지 */
.write-form {
    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin: 50px 0px;
}

.write-title {
    margin: 18px 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.w-tit-input {
    font-size: 25px;
    font-weight: 200;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(33, 33, 33);
}

.wrtie-content {
    -webkit-box-flex: 6;
    flex-grow: 6;
    position: relative;
}

.write-foot {
    position: fixed;
    height: 100px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(245, 247, 250);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.write-select {
    width: 70%;
    display: flex;
    justify-content: right;
    gap: 16px;
}
/* 작성 페이지 foot 취소 버튼 */
.cancel-btn {
    width: 157px;
    height: 48px;
    background-color: rgb(245, 247, 250);
    border-radius: 8px;
    border: 2px solid rgb(216, 223, 231);
    color: rgb(137, 147, 158);
}

/* 작성 페이지 foot 게시 버튼 */
.post-btn {
    width: 157px;
    height: 48px;
    background-color: rgb(6, 113, 224);
    border-radius: 8px;
    border: 2px solid rgb(6, 113, 224);
    color: rgb(255, 255, 255);
}

.user-profile {
    cursor: pointer;
}

#menu {
    display: none;
    position: absolute;
    margin-top: 1rem;
}

#menu > .infomenu {
    position: relative;
    z-index: 5;
    width: 8rem;
}

.bzXVwF {
    color: black;
    padding: 0.75rem 1rem;
    line-height: 1.5;
    font-weight: 500;
    cursor: pointer;
}

/* mypage 닉네임 */
.my-name-div {
    display: flex;
}

.my-name {
    text-align: center;
    width: 9.5rem;
    margin-top: 2rem;
}

/* 검색 위 여백 */
.search-div {
    margin-top: 20px;
}

/* 상단 환영텍스트 */
.helloid {
    margin-top: 1rem;
    margin-right: 1rem;
}

/* 회원수정 버튼 */
.member-btn {
    margin-top: 1.8rem;
}


/* 작성 페이지 file */
.file-insert {
    display: block;
    margin: 10px 0;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.file-insert .file-list {
    height: 200px;
    overflow: auto;
    padding: 10px;
}

/* 게시판 글쓰기 버튼 flex용 */
.startsort {
	display:flex;
	justify-content: space-between;
	
}
.startsort1 {
	flex: 1;
}
.startsort2 {
	flex: 1;
	justify-content: flex-end;
}

.board-write-btn {
    width: 100px;
    height: 39px;
    background: linear-gradient(to right, #0672E0 0%, #68a3de 100%);
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.my-td-tit:hover{
	color: #0672E0;
    text-decoration: underline;
}